<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Photo Compression Tool</title>

    <!-- Font Awesome CDN -->
    <script src="https://use.fontawesome.com/98a1849afa.js"></script>
</head>
<body>

    <div class="app--layout">

        <!-- NAVIGATION SIDEBAR -->
        <nav class="sidebar-navigation">
            <div class="navigation__items">
                <div class="photos item">
                    <i class="fa fa-picture-o fa-2x" aria-hidden="true"></i>
                </div>
                <div class="settings item">
                    <i class="fa fa-cog fa-2x" aria-hidden="true"></i>    
                </div>
            </div>
        </nav>

        <!-- IMAGE LIBRARY -->
        <div class="library">
            <div class="optimize__section">
                <% if @images.first.optimized_path %>
                    <%= link_to 'Revert optimization', revert_image_path(1), :class => 'button' %>
                <% else %>
                    <%= link_to 'Optimize', optimize_jpeg_path(1), :class => 'button' %>
                <% end %>
            </div>
            <div class="library__items">
              <% unless @images.empty? %>
                <% @images.each do |image| %>
                  <div class="img__wrapper">
                    <% path = image.optimized_path ? image.optimized_path : image.original_path %>
                    <%= link_to image_tag(path), image_path(image), :remote => true, id: image.id, :class => 'imageTile' %>
                  </div>
                <% end %>
              <% end %>
            </div>
        </div>
        
        <!-- IMAGE PREVIEW -->
        <div class="preview">
            <div id="targetDiv" class="image__preview">“
                      
            </div>
        </div>


    </div>

</body>
<script>
$(document).on('click', '.imageTile', () => {
    const id = $(this).attr('id')

    $.ajax({
        url: '/show/'+id
    })
})
</html>